.intro h1 {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 1440px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .9) !important;
    line-height: calc(var(--line-height-1) * .9) !important;
  }
}

@media only screen and (max-width: 1280px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .8) !important;
    line-height: calc(var(--line-height-1) * .8) !important;
  }
}

@media only screen and (max-width: 1024px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .7) !important;
    line-height: calc(var(--line-height-1) * .7) !important;
  }
}

@media only screen and (max-width: 640px) {
.intro h1 {
    font-size: calc(var(--font-size-1) * .6) !important;
    line-height: calc(var(--line-height-1) * .6) !important;
  }
}

@media only screen and (max-width: 870px) {

  nav a.active {
    border-bottom: none !important;
  }

  header nav {
    position: initial;
  }

  header h1 {
    float: none;
    margin-top: 0;
  }

  header nav ul {
    display: none;
  }

  nav.primaryNav ul {
    display: inherit;
  }

  nav a {
    padding: 0;
  }

  header nav.staged ul {
    display: inherit;
  }

  .navButton, .close, .menu {
    display: inherit !important;
  }

  .withUtil {
    right: calc(var(--spacing-xxlarge) * 1.43);
  }

  .utilityIcon {
    padding-left: var(--spacing-medium);
    margin-left: var(--spacing-base);
  }

  header.singleNav nav ul {
    display: inherit !important;
  }

  nav .btn {
    margin-left: 0 !important;
  }

}
