/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@font-face {
  font-family: "Handwriting";
  src: url("../design-system/fonts/handwriting/regular.woff2") format("woff2"),
       url("../design-system/fonts/handwriting/regular.woff") format("woff");
}

.handwriting {
  font-family: "Handwriting", cursive;
  transform: rotate(-4deg);
  display: inline-flex;
}

@media (prefers-color-scheme: light) {
  .icon.calyx {
    background-image: url('../assets/calyxos/logo/logo-lm.png');
  }

  .icon.harvard {
    background-image: url('../assets/harvard/logo/logo-lm.png');
  }

  .icon.onionshare {
    background-image: url('../assets/onionshare/logo/logo-lm.png');
  }

  .icon.normalsec {
    background-image: url('../assets/normalsec/logo/logo-lm.png');
  }

  .icon.signal {
    background-image: url('../assets/signal/logo/logo-lm.png');
  }

  .icon.uspto {
    background-image: url('../assets/uspto/logo/logo-lm.png');
  }

  .icon.wef {
    background-image: url('../assets/wef/logo/logo-lm.png');
  }

  .icon.ddos {
    background-image: url('../assets/ddosecrets/logo-lm.png');
  }
}

@media (prefers-color-scheme: dark) {
  .icon.ddos {
    background-image: url('../assets/ddosecrets/logo-dm.png');
  }

  .icon.calyx {
    background-image: url('../assets/calyxos/logo/logo-dm.png');
  }

  .icon.harvard {
    background-image: url('../assets/harvard/logo/logo-dm.png');
  }

  .icon.onionshare {
    background-image: url('../assets/onionshare/logo/logo-dm.png');
  }

  .icon.normalsec {
    background-image: url('../assets/normalsec/logo/logo-dm.png');
  }

  .icon.signal {
    background-image: url('../assets/signal/logo/logo-dm.png');
  }

  .icon.uspto {
    background-image: url('../assets/uspto/logo/logo-dm.png');
  }

  .icon.wef {
    background-image: url('../assets/wef/logo/logo-dm.png');
  }
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 960px) {
  @media (prefers-color-scheme: light) {
    nav ul {
      box-shadow: var(--shadow-lm);
      background-color: var(--color-light);
    }

    nav ul li a:hover {
      box-shadow: inset 3px 0 var(--color-dark);
    }
  }

  @media (prefers-color-scheme: dark) {

    nav ul {
      box-shadow: var(--shadow-dm);
      background-color: var(--color-shade-dm);
    }

    nav ul li a:hover {
      box-shadow: inset 3px 0 var(--color-light);
    }
  }

  nav ul {
    display: none;
  }

  .mobileNav {
    display: flex;
    align-self: center;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    z-index: 1;
    padding: var(--spacing-small) 0;
    align-items: flex-start;
  }

  nav ul li a.wrapper {
    display: flex;
    width: 100%;
  }

  nav ul li a {
    padding-top: var(--spacing-base) !important;
    padding-bottom: var(--spacing-base) !important;
    padding-left: var(--spacing-medium) !important;
    padding-right: var(--spacing-medium) !important;
  }

  nav .btn {
    margin: var(--spacing-base) var(--spacing-medium);
    display: inline-flex !important;
  }

  nav ul li a.wrapper {
    display: flex;
  }

  nav .badge {
    margin-right: 0;
    margin-left: var(--spacing-medium);
  }
}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
