@media (prefers-color-scheme: light) {
  .intro {
    background-color: var(--color-light);
  }

  .intro.secondaryNav {
    border-bottom: var(--border-dark);
  }

  p.hint {
    color: var(--color-label-lm);
  }

  .intro .icon.defcon {
    background-image: url('../../../../assets/defcon/logo-lm.png');
  }
}

@media (prefers-color-scheme: dark) {
  .intro {
    background-color: var(--color-shade-dm);
  }

  .intro.secondaryNav {
    border-bottom: var(--border-light);
  }

  p.hint {
    color: var(--color-label-dm);
  }

  .intro .icon.defcon {
    background-image: url('../../../../assets/defcon/logo-dm.png');
  }
}

.intro {
  height: 100vh;
  align-items: center;
  position: relative;
}

.intro .icon {
  width: 5rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: var(--spacing-small);
}

.intro h2 {
  width: 66%;
  line-height: var(--line-height-intro-heading);
}

.intro .tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0 !important;
  margin: 0 auto;
}

.intro p:last-of-type {
  margin-bottom: 0;
}

.intro .btnGrp {
  margin-top: var(--spacing-base);
}

.intro.secondaryNav {
  margin-bottom: var(--spacing-medium);
}

.intro.secondaryNav + section:last-of-type {
  margin-bottom: var(--spacing-medium);
}

.secondaryIntro {
  height: 80vh;
}

.secondaryIntro + section h3 {
  margin-top: var(--spacing-medium) !important;
}

.secondaryIntro + article h3 {
  margin-top: var(--spacing-medium) !important;
}

p.hint {
  position: absolute;
  bottom: var(--spacing-base);
  margin-bottom: 0 !important;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: var(--font-size-xsmall) !important;
  font-weight: bold;
  animation: floating 3s ease infinite;
  max-width: max-content !important;
  transition: .3s;
}

p.hint a {
  text-decoration: none;
}

.fade {
  opacity: 0 !important;
}

@media only screen and (max-width: 1280px) {
  .intro h2 {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {
  .intro h2 {
    width: 85%;
  }
}

@media only screen and (max-width: 640px) {
  .intro h2 {
    width: 100%;
  }
}
