@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

article {
  margin-bottom: var(--spacing-xxlarge);
}

article img {
  max-width: 768px;
}

@media only screen and (max-width: 768px) {
  article img {
    width: 100% !important;
  }
}
