<section id="contact">
  <div class="wrapper">
    <h3>Contact</h3>
    <div class="description">
      <p>However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
      <ul>
        <li>💻 <a href="https://github.com/glenn-sorrentino/design-system/blob/main/components/content/html/contact.html" target="_blank" rel="noopener noreferrer">View Component Code</a></li>
        <li>💼 <a href="https://www.linkedin.com/in/glennsorrentino" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li>🐦 <a href="https://twitter.com/glennsorrentino" target="_blank" rel="noopener noreferrer">Twitter</a></li>
      </ul>
    </div>
  </div>
</section>
